:root 
   {

    /* Colors: */
    --white: #ffffff;
    --white-opacity:rgba(255,255,255,0.500);
    --orange: #FF950A;
    --orange-hover:rgb(253, 174, 71);
    --black: #131313;
    --black-opacity:rgba(18, 18, 19, 0.74);
    
    /* Font/text values */
    --secondary-font: Roboto;
    --principal-font: Times New Roman;
    --font-style-light: Light;
    --font-style-medium: Medium;
    --font-style-regular: Regular;
    --font-size-body: 18px;
    --font-size-button: 20px;
    --font-title-size: 70px;
    --line-spacing: 40px;
    }
    
    /* Character Styles */

    html, body {
        overflow: hidden; /*Body scroll lock*/
      }
    
    body
    {
        /* border: 10px solid #FF950A;*/
        background-image: linear-gradient( rgba(13, 13, 13, 0.8), rgba(13, 13, 13, 0.8) ), url("../images/render.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100vw;
        min-height: 100vh;
        
    }

  .main-container
  {
       display: flex;
       align-items: flex-start;
       margin:150px 80px;
     
  }


    header
    {  
        height: 60px;
        background: var(--black) 0% 0%  padding-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
        position: fixed;
        top: 0;
		right: 0;
        left: 0;
    }

    .link_box
    {
        display: flex;
        justify-items: center;
    }

    .menu_link
    {
        display: inline-block;
        margin-left: 50px;
        font-family: var(--secondary-font);
        font-style: var(--font-style-light);
        text-decoration: none;
        color: var(--white-opacity);
        font-size: 1rem;
    }

    a:hover 
    {
        color: var(--white);
    }

    .hamburguer:hover
    {
        background-color: darkmagenta;
        cursor: pointer;
    } /*Get the path of svg for give style them */

    .link_contain
    {
        height: 60px;
        display: flex;
        align-items: center;
    }

    .title 
    {
        font-family: var(--principal-font);
        font-style: var(--font-style-regular);
        font-size: var(--font-title-size);
        color: var(--white);
        margin: 0;
    }

    .text-box
    {
       width: 680px;
       
    }
    
    p 
    {
    font-family: var(--secondary-font);
    font-style: var(--font-light);
    font-size: var(--font-size-body);
    line-height: var(--line-spacing);
    color: var(--white);
    }

    .portfolio_buttom 
    {
      color: var(--white);
      background-color: var(--orange);
      border:none;
      font-family: var(--secondary-font);
      font-style: var(--font-medium);
      font-size: var(--font-size-button);
      letter-spacing: var(--unnamed-character-spacing-0);
      padding: 8px 50px;
    }

    .portfolio_buttom:hover
    {
        background-color: var(--orange-hover);
        cursor: pointer;
    }

    .grid-container
    {
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (3, 1fr));
        grid-auto-rows: 262px;
        grid-auto-columns: 179px;
        grid-gap: 10px;
        margin:0 0 0 150px;
        
      
    }

    .img_item
    { 
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        
        overflow: hidden;
    }

    .parent-content
    {
        width: 100%;
        height: 100%;
        position: relative;
        top: 50px;
        background-image: linear-gradient(to bottom, transparent, black) ;
        transition: 0.3s;
    }

    .img_item:hover .parent-content
    {
        top: 0;
    }

    .child-content
    {
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-left: 14px;

    }
    span 
    {
       font-family: var(--secondary-font);
       font-style: var(--font-light);
       font-size: var(--font-size-body);
    }

    .see-btn
    {
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.2);      
        color: var(--white); 
        border:none;
        cursor: pointer;
    }

    .see-btn:hover 
    {
        background-color: rgba(255,255,255,0.5);      

    }

    .img1
    {
        
        background-image: url(../images/1.png);
      
    }


    .img2
    {
        
        background-image: url(../images/2.png);
    }


    .img3
    {
        
        background-image: url(../images/3.png);
    }



    .img4
    {
        grid-column: span 3 / auto;
      background-image: url(../images/4.png);
    }

   

    /* R E A D   T H E   N E X T   L I N K 

    https://stackoverflow.com/questions/49327674/css-grid-and-transform-images-overflow-and-overlap
    https://css-tricks.com/zooming-background-images/
    https://www.youtube.com/watch?v=Rjbcmubs4L4

    */