:root 
   {

    /* Colors: */
    --white: #FFFFFF;
    --orange: #FF950A;
    --black: #131313;
    
    /* Font/text values */
    --secondary-font: Roboto;
    --principal-font: Times New Roman;
    --font-style-light: Light;
    --font-style-medium: Medium;
    --font-style-regular: Regular;
    --font-size-body: 18px;
    --font-size-button: 20px;
    --font-title-size: 70px;
    --line-spacing: 40px;
    }
    
    /* Character Styles */


    
    body
    {
        /* border: 10px solid #FF950A;*/
        background-image: linear-gradient( rgba(13, 13, 13, 0.8), rgba(13, 13, 13, 0.8) ), url("../images/render.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100vw;
        min-height: 100vh;
        
    }

  .main-container
  {
       display: flex;
       align-items: flex-start;
       margin:150px 80px;
     
  }


    header
    {  
        height: 60px;
        background: var(--black) 0% 0%  padding-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
        position: fixed;
        top: 0;
		right: 0;
        left: 0;
    }

    .link_box
    {
        display: flex;
        justify-items: center;
    }

    .menu_link
    {
        display: inline-block;
        margin-left: 50px;
        font-family: var(--secondary-font);
        font-style: var(--font-style-light);
        text-decoration: none;
        color: var(--white);
    }

    .link_contain
    {
        height: 60px;
        display: flex;
        align-items: center;
    }

    .title 
    {
        font-family: var(--principal-font);
        font-style: var(--font-style-regular);
        font-size: var(--font-title-size);
        color: var(--white);
        margin: 0;
    }

    .text-box
    {
       width: 680px;
       
    }
    
    p 
    {
    font-family: var(--secondary-font);
    font-style: var(--font-light);
    font-size: var(--font-size-body);
    line-height: var(--line-spacing);
    color: var(--white);
    }

    .portfolio_buttom 
    {
      color: var(--white);
      background-color: var(--orange);
      border:none;
      font-family: var(--secondary-font);
      font-style: var(--font-medium);
      font-size: var(--font-size-button);
      letter-spacing: var(--unnamed-character-spacing-0);
      padding: 8px 50px;
    }

    .grid-container
    {
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (3, 1fr));
        grid-auto-rows: 262px;
        grid-auto-columns: 179px;
        grid-gap: 10px;
        margin:0 0 0 150px;
        
      
    }

    .img_item
    { 
        border-radius: 4px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);

    }

    .img1
    {
        
        background-image: url(../images/1.png);
      
    }


    .img2
    {
        
        background-image: url(../images/2.png);
    }


    .img3
    {
        
        background-image: url(../images/3.png);
    }



    .img4
    {
        grid-column: span 3 / auto;
      background-image: url(../images/4.png);
    }



   

    /* R E A D   T H E   N E X T   L I N K 
    https://blog.prototypr.io/a-pragmatic-guide-to-designing-and-building-responsive-web-applications-ff625dd2f206
    
    https://www.youtube.com/watch?v=cFV2F_XWZ_o

    grid-template-areas:"img1 img2 img3" "img4"

    */